<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="BaseFramework.eBanking">

	<listeners>
		<listener class-name="eBanking.utilities.Reporting"></listener>
	</listeners>

	<test name="BankingApp Test">
		<parameter name="browser" value="chrome" />
		<classes>
		
			<class name="eBanking.testCases.TC_LoginTest_01" />
			<class name="eBanking.testCases.TC_LoginDDT_02" />

		</classes>
	</test>
	
</suite> 